/* Header Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap'); */

/* Content Font */
/* @import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap'); */

/* Normal Font */
/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,700); */

* {
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: 'Lobster', cursive;
}
html {
	font-size: 62.5%;
}
html,
body {
	overflow: hidden;
	background-color: #ffedb1;
}

li,
a {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 1.8;
	color: #ffeea8;
	cursor: pointer;
	list-style: none;
	text-align: center;
	text-transform: none;
	text-decoration: none;

	outline: 0;
	opacity: 0;
	margin: 75px 0 -55px 0;
	transform: translateY(10px);
	animation: hide 0.3s forwards ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
li {
	position: relative;
	width: 30rem;
	margin-left: auto;
	margin-right: auto;
}
li a {
	width: 100%;
}
li:hover,
a:focus {
	display: block;
	color: #b29259;
	background-color: #ffeea8;
}
li:hover a {
	color: #b29259;
}

h1 {
	line-height: 0;
	font-size: 4vw;
	font-weight: 700;
}
h3 {
	line-height: 0.3;
	font-size: 2.5vw;
	font-weight: lighter;
}
h4 {
	margin-left: -2%;
	font-size: 1.5vw;
	font-weight: lighter;
}

#trigger,
#burger,
#burger:before,
#burger:after {
	position: absolute;
	height: 0.5rem;
	left: 2.5rem;
	top: 2.5rem;
	width: 3rem;
	z-index: 10;
	cursor: pointer;
	background: #ffeea8;
	transition: 0.2s ease;
}
#trigger {
	height: 2.5rem;
	background: none;
}
#burger:before {
	content: ' ';
	top: 1rem;
	left: 0;
}
#burger:after {
	content: ' ';
	top: 20px;
	left: 0;
}

#menu-toggle:checked + #trigger + #burger {
	top: 3.5rem;
	transform: rotate(180deg);
	transition: transform 0.2s ease;
}
#menu-toggle:checked + #trigger + #burger:before {
	width: 2rem;
	top: -2px;
	left: 1.8rem;
	transform: rotate(45deg) translateX(-5px);
	transition: transform 0.2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
	left: 1.8rem;
	width: 2rem;
	top: 2px;
	transform: rotate(-45deg) translateX(-5px);
	transition: transform 0.2s ease;
}

#menu {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 11rem;
	height: 11rem;
	background-color: #b29259;
	border-bottom-right-radius: 100%;
	box-shadow: 0 2px 5px #dabb80;
	animation: not-checked 0.2s both;
	transition: 0.2s;
	z-index: 9;
}
#menu-toggle:checked + #trigger + #burger + #menu {
	animation: checked 0.45s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li,
a {
	animation: appear 0.2s forwards ease var(--t);
}
[type='checkbox']:not(:checked),
[type='checkbox']:checked {
	display: none;
}

.home {
	position: relative;
	height: 100%;
	width: 100%;
}

#box {
	background-color: #f7f0e9;
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100%;
}
.layer {
	background-repeat: no-repeat;
	background-size: 50% auto;
	position: absolute;
}
.bg {
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	background-size: cover;
	background-position: center;
}
.top-left {
	top: 3%;
	left: 15%;
	width: 40%;
	height: 40%;
	background-position: top left;
}
.top-right {
	top: 5%;
	right: 14%;
	width: 60%;
	height: 60%;
	background-position: top right;
}
.center-left,
.center-right {
	top: 25%;
	width: 50%;
	height: 50%;
}
.center-left {
	left: 3%;
	background-position: center left;
}
.center-right {
	right: 3%;
	background-position: center right;
}
.bot-right {
	right: 12%;
	bottom: 5%;
	width: 45%;
	height: 45%;
	background-position: bottom right;
}
.bot-left {
	left: 12%;
	bottom: 5%;
	width: 55%;
	height: 55%;
	background-position: bottom left;
}

.home .heading {
	position: absolute;
	color: #caa860;
	font-size: 6vmax;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.home .heading::after {
	position: absolute;
	content: '';
	bottom: -1.5rem;
	left: 0;
	right: 0;
	height: 1rem;
	background-color: #caa860;
	transform: scaleX(0);
	transition: all 0.3s ease;
}
.home .heading:hover::after {
	transform: scaleX(1);
}

.lucky-card .heading {
	font-size: 4rem;
	color: #caa860;
}

.social {
	position: absolute;
	bottom: 25%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.social a {
	all: unset;
	outline: 0;
	color: #b29259;
	list-style: none;
	text-align: center;
	text-transform: none;
	text-decoration: none;
}
.social i {
	padding: 1rem;
	margin: 0 1.5rem;
	font-size: 4.5rem;
	cursor: pointer;
	color: #b29259;
}

.bgm {
	color: #caa860;
	cursor: pointer;
	position: fixed;
	font-size: 5rem;
	bottom: 3rem;
	right: 3rem;
	width: 5rem;
	height: 5rem;
}
.bgm i {
	display: block;
	position: absolute;
	transition: all 0.2s ease;
}
.bgm.active .pause,
.bgm .play {
	opacity: 1;
}
.bgm.active .play,
.bgm .pause {
	opacity: 0;
}

section.page {
	display: none;
}
section.page.active {
	display: block;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		left: 0;
		transform: translateY(0px);
	}
}
@keyframes hide {
	from {
		opacity: 1;
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		left: -300%;
		transform: translateY(10px);
	}
}

@keyframes checked {
	50% {
		width: 300rem;
		height: 300rem;
	}
	100% {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
}
@keyframes not-checked {
	0% {
		width: 300rem;
		height: 300rem;
	}
}
